.mainContainerDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Job {
  width: 1100px;
  height: 140px;
  background-color: white;
  margin: 0.4rem;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s all;
}
.Job:hover {
  background-color: #ddd;
}
.Job:focus {
  height: 200px;
}
.applyButton {
  width: 150px;
  height: 60px;
  border: none;
  margin-right: -1rem;
  cursor: pointer;
  background-color: red;
  color: honeydew;
  font-size: 1.4rem;
  border-radius: 10px;
}

.basicDetails_Job {
  height: 90%;
  display: flex;
  width: 300px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.placiloInLokacija {
  display: flex;
  flex-direction: row;
}
.lokacija {
  padding: 0.3rem;
  border-radius: 4px;
  background-color: #ddd;
}
.placilo {
  padding: 0.3rem;
  border-radius: 4px;
  margin-left: 1rem;
  background-color: #ddd;
}
.programmingLanguages {
  display: flex;
  height: 100%;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.language {
  padding: 0.4rem;
  font-size: 0.7rem;
  margin-right: 0.7rem;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.language:hover {
  color: white;
  background-color: black;
  border: 3px solid #ddd;
}
.jobPostedDate {
  font-size: 0.8rem;
}
.linkButton {
  color: white;
  border-radius: 10px;
  background-color: red;
  font-size: 1.4rem;
  padding: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}
.linkButton:hover {
  background-color: white;
  color: black;
}

.sortedDiv {
  height: 40px;
  width: 70%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonSort {
  padding: 1rem;
  font-size: 1rem;
  margin: 0.1rem;
  background-color: white;
  border: none;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
  border-radius: 10px;
  cursor: pointer;
}

.buttonSort:hover {
  transform: translateY(-2px);
  box-shadow: 1px 4px 4px rgb(0 0 0 / 3%);
}
.buttonSort:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px rgb(0 0 0 / 3%);
}
