.mainContainerDiv {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 170px 20px 1fr;
  justify-items: center;
}
.Job {
  position: relative;
  width: 70%;
  height: 140px;
  background-color: white;
  margin: 0.4rem;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
  display: flex;
  padding: 0.3rem;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s all;
}
.Job:hover {
}

.JobExpanded {
  width: 1100px;
  height: 1000px;
  background-color: white;
  margin: 0.4rem;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s all;
}
.fillterDiv {
  width: 70%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0.5rem;
}
.deleteFilter {
  font-size: 0.7rem;
  cursor: pointer;
}
.filteredDivOne {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.filteredDivTwo {
  width: 100%;
  height: 60%;
  display: flex;
}
.selectDiv {
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  padding: 0.5rem;
  max-width: 150px;
  background-color: white;
  border: none;
  border-radius: 10px;
  justify-self: flex-start;
}
.buttonByPay {
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  padding: 0.5rem;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  justify-self: flex-start;
}
.selectDivremote {
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  padding: 0.5rem;
  max-width: 150px;
  border: none;
  border-radius: 10px;
  background-color: white;
  justify-self: flex-start;
}
.addAJobButton {
  background-color: red;
  position: absolute;
  padding: 1rem;
  color: white;
  border: none;
  text-decoration: none;
  top: 70px;
  right: 100px;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
}
.getAlldiv {
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  padding: 0.5rem;
  background-color: white;
  max-width: 140px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.filter {
  font-size: 1rem;
  padding: 0.5rem;
  height: 20px;
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  margin-left: 0.4rem;
}
.applyButton {
  width: 150px;
  height: 60px;
  border: none;

  margin-right: -1rem;
  cursor: pointer;
  background-color: red;
  color: honeydew;
  font-size: 1.4rem;
  border-radius: 10px;
}

.basicDetails_Job {
  height: 90%;
  display: flex;
  width: 300px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.placiloInLokacija {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
}
.lokacija {
  display: flex;
  min-width: 120px;
  min-height: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  font-size: 0.8rem;
  border-radius: 4px;
  background-color: #ddd;
}
.placilo {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  height: auto;
  flex-direction: column;
  min-height: 45px;
  display: flex;
  min-width: 120px;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  border-radius: 4px;
  background-color: #ddd;
}
.programmingLanguages {
  display: flex;
  height: 100%;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.language {
  padding: 0.4rem;
  font-size: 0.7rem;
  margin-right: 0.7rem;
  border: 3px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.language:hover {
  color: white;
  background-color: black;
  border: 3px solid #ddd;
}
.jobsDivApplyAndDate {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.linkButtonDiv {
  display: flex;
  width: 100%;
  text-align: center;
}
.jobPostedDate {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 1rem;
}
.linkButton {
  color: white;
  background-color: red;
  font-size: 1.4rem;
  border-radius: 10px;
  margin-left: 1rem;
  text-decoration: none;
  width: 100%;
  padding: 1rem 1rem 1rem 1rem;
}
.linkButton:hover {
  background-color: white;
  color: black;
}

.sortedDiv {
  height: 40px;
  width: 70%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonSort {
  padding: 1rem;
  font-size: 1rem;
  margin: 0.1rem;
  background-color: white;
  border: none;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
  border-radius: 10px;
  cursor: pointer;
}

.buttonSort:hover {
  transform: translateY(-2px);
  box-shadow: 1px 4px 4px rgb(0 0 0 / 3%);
}
.buttonSort:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px rgb(0 0 0 / 3%);
}
.AddedByUser {
  position: absolute;
  align-self: flex-start;
  margin-left: -1.4rem;
  left: 1rem;
  height: 1rem;
  cursor: default;
  margin-top: -1.1rem;
}

.AddedByUserPopDown {
  content: "original post";
  font-size: 0.8rem;
  text-align: center;
  position: absolute;
  border: 1px solid rgb(218, 216, 216);
  left: -1rem;
  display: none;
  top: 1.9rem;
  padding: 0.2rem;
  background-color: rgb(218, 216, 216);
}
.basicDetails_Job .arrowUp {
  display: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: relative;
  left: 0.2rem;
  border-bottom: 5px solid rgb(218, 216, 216);
}

@media only screen and (max-width: 900px) {
  .Job {
    width: 92%;
    padding: 1rem;
    height: 200px;
    background-color: white;
    margin: 0.4rem;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s all;
  }
  .linkButtonDiv {
    display: flex;
    text-align: center;
  }
  .linkButton {
    color: white;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
  }
  .basicDetails_Job {
    height: 80%;
    display: flex;
    width: 300px;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .buttonSort {
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0.1rem;
    background-color: white;
    border: none;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    border-radius: 10px;
  }
  .sortedDiv {
    width: 80%;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .AddedByUser {
    font-size: 1.5rem;
    position: absolute;
    align-self: flex-start;
    margin-left: -1.7rem;
    left: 1rem;
    top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .mainContainerDiv {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 170px 1fr;
    justify-items: center;
  }
  .jobPostedDate {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .fillterDiv {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem;
  }
  .filteredDivTwo {
    width: 100%;
    flex-wrap: wrap;
    height: 60%;
    display: flex;
  }
  .Job {
    width: 80%;
    padding: 1.2rem;
    height: 500px;
    background-color: white;
    margin: 0.4rem;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.2s all;
  }
  .linkButton {
    color: white;
    text-decoration: none;
    width: auto;
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
  .basicDetails_Job {
    height: 80%;
    display: flex;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .buttonSort {
    padding: 1rem;
    font-size: 1.2rem;
    margin: 0.1rem;
    background-color: white;
    border: none;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 3%);
    border-radius: 10px;
  }
  .sortedDiv {
    margin: 1rem;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .placiloInLokacija {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lokacija {
    padding: 0.2rem;
    font-size: 1.2rem;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    margin-bottom: 0.2rem;
    background-color: #ddd;
  }
  .jobsDivApplyAndDate {
    height: 200px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .placilo {
    width: 100%;
    font-size: 1.2rem;
    border-radius: 4px;
    margin-left: 0;
    background-color: #ddd;
  }
  .programmingLanguages {
    display: flex;
    width: 90%;
    height: 400px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .language {
    padding: 0.4rem;
    font-size: 0.8rem;
    margin: 0.3rem;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
  .AddedByUser {
    font-size: 1.5rem;
    position: absolute;
    align-self: flex-start;
    margin-left: -1.7rem;
    left: 1rem;
    top: 0;
  }
  .addAJobButton {
    position: absolute;
    padding: 1rem;
    color: white;
    border: none;
    text-decoration: none;
    top: 200px;
    right: 50%;
    transform: translateX(50%);
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
    box-shadow: 1px 3px 4px rgb(0 0 0 / 10%);
  }
}
