* {
  margin: 0;
  padding: 0;
}
body {
  background: #f0f0f0;
  box-sizing: inherit;
}
html {
  font-size: 100%;
  box-sizing: border-box;

  font-family: nunito, helvetica, Arial, sans-serif;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 1fr;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 700px 1fr;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 900px) {
  .App {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-template-columns: 1fr;
  }
}
